
header {
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

.container {
    border: 2px solid black;
    padding: 10px;
    margin: auto;
    width: 700px;
}

.container > h1 {
    text-align: center;
}

nav {
  background-color: green;
  height: 50px;
  padding: 10px;
  margin-bottom: 10px;
}
nav > a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: rgb(29, 27, 24);
    font-size: 25px;
}

div > img {
    width: 300px;   
}

.geograph {
    display: flex;
}

#map {
    transition-duration: 3s;
}

#map:hover {
    transform: rotate(360deg);
}

p::first-letter {
    font-size: 1.5rem;
    font-weight: bold;
    color: green;
}

footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: red;
}

